footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;

}
.logo-container {
  padding: 0 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* [theme.breakpoints.down('sm')]: {
    flex-direction: column-reverse;
    text-align: center;
  } */
}

.alan-logo {
  height: 27vmin;
  border-radius: 15%;
  padding: 0 5%;
  margin: 3% 0;
  z-index: 1;
}